---
import { ArticleRadarChart } from "@/components/article/RadarChart";
const { scores } = Astro.props;
---

<div class="w-full">
  <ArticleRadarChart scores={scores} />
</div>

<script client:load>
  window.dispatchEvent(new Event("resize"));
</script>
